  .container 
  { 
    margin: 0 auto;
    position: relative;
  }
  
  .video 
  {
    width: 100%;
    height: auto;
    
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .canvas 
  {
    position: absolute;
    top: 0;
    left: 0;
    
    z-index: 10;
    /* background-color:rgba(255,0,0,0.5); */
  }
  