<html>
    <head>
        <link rel="stylesheet" href="welcome-v.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <script>
            function addone() {
                groceryList.append({ id: 3, text: 'new one' });
            }
        </script>
        
        <button onclick="addone()">add one</button>
        <div id="app">
            {{ message }}
        
            <ol>
                <todo-item
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id">
                </todo-item>
            </ol>

        </div>
                        
        <script src="welcome-v.js"></script>
    </body>
</html>