
<!-- =================================================== -->
<!-- RUNDOWN SECTION FOR WORKOUTS (NOT CURRENTLY ACTIVE) -->
<!-- =================================================== -->
<!---------------------------------- HTML SNIPPET --------------------------------------->
<!-- <div id="rundownSection" class="order-3 flex-column w-25 d-flex justify-content-between">  -->
<!-- <div id="activity-time-container" class="flex-column d-flex"> 
    <div class="d-flex w-100 justify-content-around mt-3"> 
        <div class="dropdown w-50 mr-1 "> 
            <button class="btn dropdown-toggle w-100 btn-outline-info" type="button" id="workout-pick-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Workout</button>                             
            <div id="workout-picker" class="dropdown-menu w-100" aria-labelledby="workout-pick-btn"> 
            </div>                             
        </div>                         
        <button type="button" class="btn btn-outline-success w-50 ml-1" id="start-button">Start</button>                         
    </div>                     
    <div id="activity-timer" class="text-center text-capitalize text-secondary mt-3">Select A Workout &amp; Press Start!</div>                     
</div>                 
<div class="d-flex flex-column order-2 h-75"> 
    <ul id="activities-container" class="list-group order-2 w-100 h-100 align-items-center"> 
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Excercise</a> 
    </ul>                     
</div>                 
<div id="total-time-container" class="align-middle text-center border border-right-0 border-bottom-0 border-left-0 mr-5 order-3 ml-5 text-secondary">23:01 / 25:30</div>                  -->
<!---------------------------------- SCRIPT SNIPPET --------------------------------------->
<!-- <script> -->
<!-- 
    // function toggleSidePanel() {
    //     $("#rundownSection").toggleClass("d-flex");
    //     $("#rundownSection").toggleClass("d-none");
    //     $("#videoSection").toggleClass("w-75");
    //     $("#videoSection").toggleClass("w-100");

    //     var btn = document.getElementById("btn-toggle-workouts");
    //     if (btn.getAttribute("showing")) {
    //         btn.innerHTML = "Hide Workouts";
    //         btn.removeAttribute("showing");
    //     } else {
    //         btn.innerHTML = "Show Workouts";
    //         btn.setAttribute("showing", true);
    //     }
    // }
    // toggleSidePanel(); 
-->
<!-- </script> -->
