:root {
    --num-participant-rows: 1;
    --num-participant-columns: 1;
    --right-side-width: 1.5fr;
}

html, body { 
    box-sizing: border-box; 
    margin: 0;  
    padding: 0; 
    width: 100vw; 
    height: 100vh; 
    
    /* needed below? */
    position: fixed; 
    left:0; right:0; top:0; bottom:0; 
    float: left;

}

*, *:before, *:after {
    box-sizing: inherit;
}

#page-content {
    position: relative;
    
    width: 100%;
    height: 100%;

    display: grid;
    
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

}


header, 
aside#right-aside, aside#left-aside,
footer {
    display: none;
}

main#participants-section {
    position: relative;
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    /* Keep */ 
    display: grid;
    grid-template-rows:    repeat(var(--num-participant-rows), minmax(0, 1fr)); 
    grid-template-columns: repeat(var(--num-participant-columns), minmax(0, 1fr)); 
    gap: 1em;
    
    /* Keep */ 
    min-width: 0; 
    min-height: 0;
}

@media screen and (min-width: 700px) and (min-height: 500px)  {

    #page-content {
        grid-template-rows: 1fr; /* 10fr .5fr;*/
        grid-template-columns: .25fr 10fr var(--right-side-width); /* .50fr; */
    }

    aside#left-aside {
        display: block;

        grid-column: 1 / 1;

        /* min-width: 0;  <- this makes toolbar too narrow */

        /* Keep */ 
        min-height: 0;
    }

    main#participants-section {
        grid-column: 2 / 2;
    }

    aside#right-aside {
        display: block;

        grid-column: 3 / 3;

        /* min-width: 0;  <- this makes toolbar too narrow */

        /* Keep */ 
        min-height: 0;
    }

}

.participant {
    position: relative;             /* Keep */

    max-height: 100% !important;    /* Keep */
    max-width:  100% !important;    /* Keep */

}

.participant > .name {
    position: absolute;             /* Keep */ 
    top: 1%;                        /* Keep */
    left: 1%;                       /* Keep */
    z-index: 3;                     /* Keep */ 
}

.studio_video {
    position: relative;             /* Keep */ 
    object-position: top left;      /* Keep */ 
    z-index: 1;                     /* Keep */ 

    /* taken from tw-studio.css prior to layout v2.1 */
    background-size: contain;
    object-fit: contain;
    overflow: hidden;
    -webkit-transform:scaleX(-1);
    transform: scaleX(-1);

}

.studio_canvas {
    position: absolute;             /* Keep */ 
    top: 0;                         /* Keep */ 
    left: 0;                        /* Keep */ 
    z-index: 2;                     /* Keep */ 
}

.studio_video, .studio_canvas {
    max-width:  100% !important;     /* Keep */ 
    max-height: 100% !important;    /* Keep */ 
}

.studio_video.blurred {
    filter: blur(20px);
}

.--border-gray {
    outline: 8px solid grey;
    outline-offset: -2px;
}
.--border-white {
    outline: 4px solid white;
    outline-offset: -2px;
}
.--border-brown {
    outline: 8px solid brown;
    outline-offset: -2px;
}
.--border-black {
    outline: 8px solid black;
    outline-offset: -2px;
}
.--border-green {
    outline: 4px solid green;
    outline-offset: -2px;
}
.--border-yellow {
    outline: 4px solid yellow;
    outline-offset: -2px;
}
.--border-red {
    outline: 4px solid red;
    outline-offset: -2px;
}
.--border-blue {
    outline: 4px solid blue;
    outline-offset: -2px;
}
.--border-pink {
    outline: 12px solid pink; 
    outline-offset: -2px;
}  

