:root {
    --num-pip-participants: 3;
    --num-participant-rows: 1;
    --num-participant-columns: 1;
}

html, body { 
    box-sizing: border-box; 
    margin: 0;  
    padding: 0; 
    width: 100vw; 
    height: 100vh; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background: lightgoldenrodyellow;
}

#page-content {
    position: relative;
    
    width: 100%;
    height: 100%;
    
    display: grid;

    grid-template-rows: 1fr 10fr .5fr;
    grid-template-columns: .25fr 10fr;

    
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background: lightgoldenrodyellow;
}

footer {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    background: lightsalmon;
}

aside#left-aside {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background: lightgrey;
}

main#participants-section {
    position: relative;

    grid-row: 2 / 3;
    grid-column: 2 / 3;
    
    /* Keep */ 
    display: grid;
    grid-template-rows:    repeat(var(--num-participant-rows), minmax(0, 1fr)); 
    grid-template-columns: repeat(var(--num-participant-columns), minmax(0, 1fr)); 
    
    /* Keep */ 
    min-width: 0; 
    min-height: 0;

}

.pip-participants {
    position: absolute;             /* Keep or similar */
    right: 0;                       /* Keep or similar */
    top: 0;                         /* Keep or similar */
    bottom: 0;                      /* Keep or similar */

    width: 25%;
    max-width: 400px; /* perhaps can get around this by setting height or width on each participant */


    /* Keep or similar */
    display: grid;
    grid-template-rows:     repeat(var(--num-pip-participants), minmax(0, 1fr)); 
    grid-template-columns:  repeat(1, minmax(0, 1fr));
    /* grid-auto-rows: min-content;
    grid-auto-flow: row; */

    min-width: 0;                   /* Keep */ 
    min-height: 0;                  /* Keep */ 

    align-items: start;             /* Keep */ 
    justify-items: start;           /* Keep */
}

.participant {
    position: relative;             /* Keep */

    max-height: 100% !important;    /* Keep */
    max-width:  100% !important;    /* Keep */

}

.participant > .name {
    position: absolute;             /* Keep */ 
    top: 1%;                        /* Keep */
    left: 1%;                       /* Keep */
    z-index: 3;                     /* Keep */ 
}

video {
    position: relative;             /* Keep */ 
    object-position: top left;      /* Keep */ 
    z-index: 1;                     /* Keep */ 
}

canvas {
    position: absolute;             /* Keep */ 
    top: 0;                         /* Keep */ 
    left: 0;                        /* Keep */ 
    z-index: 2;                     /* Keep */ 
}

video,canvas {
    max-width:  100% !important;    /* Keep */ 
    max-height: 100% !important;    /* Keep */ 
}
