/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

:root {
  --primary-color: #42a5f5;
  --text-color: #323232;
}

:host-context(.light-theme) {
  --button-background-color: var(--primary-color);
  --button-color: #fff;
}

:host-context(.dark-theme) {
  --button-background-color: #424242;
  --button-color: var(--primary-color);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
