.main {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    columns: 2;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
}

.participant-video {
    box-sizing: inherit;
    width: 100%;
    max-height: 100%;
}

.participant {
}

participant-video {
    max-width: 100%;
}

participant-video {
    width: 100%;
    max-height: 100%;
}