
body {
    background-color: rgba(255,255,255,0.79);
    background-image: url(https://goldenhomefitness.com/wp-content/uploads/2019/09/Untitled-1-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}