.participant-name-banner::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    right: -2.0em;
    border: 1em solid rgba(242, 47, 70, 0.8);
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.pip_participant_video {
  width: 100% !important;
  height: auto !important;
}

.participant-name-banner {
  opacity: 0;
  transition: opacity 0.5s;
}

.is-showing .participant-name-banner {
    opacity: 1;
}


