

button {
    // background-color: var(--button-background-color);
    // color: var(--button-color);  
    background-color: var(--primary-color);
    padding: 12px 24px;
    border-radius: 4px;
    outline: none;
    font-size: 1em;
    border-color: transparent;
    font-weight: 500;
    font-family: sans-serif;
    cursor: pointer;
}