
html,
body {
    font-family: 'Amiko', serif;
    margin:0;
    padding:0;
}


.signin-body {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 40%;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right:auto;
}

.form-signin {
    min-width: 418px;
    max-width: 28%;
    padding: 35px 35px 35px 35px;

    /* background: #C2B9B0 */
    border-radius: 15px;
    border: 5px solid;
    border-color: #7caf68;
    position: relative;
    margin-top: 5%;
}

.tab-content {
    padding-top: 10px;
}

#pills-tab {
    border-bottom: 2px solid #e8eae8;
}

.sign-in-lbl {
    color: #373940;
    padding-bottom: 10px;
}

.sign-in-input {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}