
body {
    background-color: #2C3531; /* For browsers that do not support gradients */
    background-image: linear-gradient(135deg, rgb(27, 15, 27) , 70%, rgb(22, 15, 22));  /* Standard    /* position: absolute; */

    float: left;

    position: fixed; 
    left:0; right:0; top:0; bottom:0; 
    width: 100vw;
    /* height: 100vh;  */
}


@media screen and (max-height: 600px) and (max-width: 800px) {
    #view-controls {
        display: none;
    }
    .cursor {
        display: none;
    }
}

@media screen and (min-height: 601px) and (min-width: 801px) {    
    .cursor {
        position: absolute;
        width: 25px;
        height: 25px;
        cursor: none;
        pointer-events: none;
    }
}

#virtual-studio-container {
    max-width: 100% !important;
    max-height: 100% !important;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    
}

#studio-members-container {

    max-width: 100% !important;
    max-height: 100% !important;
    width: 100%;
    height: 100%;
    
    display: inline-flex;

    overflow: hidden;
    
    /* margin: 0 auto; */
     /* padding: 4px;  */

    flex-flow: row wrap;
    justify-content: space-around;

    /* align-items: stretch; */
    /* align-content: stretch; */

}

#main-area {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.member-view {

    padding: 4px;
    /* height: 100%;
    width: 100%; */
    /* display: inline-flex; */
    position: relative;
    
    align-self: center;

    flex-wrap: wrap;
    flex-direction: row;

}

img {
    max-width:100%;
    height:auto;
}

video {
    max-width: 100% !important;   /* for when one person */
    max-height: 100% !important;  /* for when one person */
    /* width: 100%;
    height: 100%; */

    background-size: contain;

    object-fit: contain;
    object-position: right top;

    overflow: hidden;
    
    -webkit-transform:scaleX(-1);
    transform: scaleX(-1);
}

canvas {
    display: inline-block;
    position: absolute; 
    z-index: 1; 
}

.focused-member {
    position: absolute !important;
}

.focusing-member {
    position: absolute;
    width: 20% !important;
    height: 20% !important;
    right: 0;
    bottom: 0;
    z-index: 15;
}

.swap-pip {
    position: absolute;
    /* width: 20% !important;
    height: 20% !important; */
    right: .5em;
    top: .25em;
    z-index: 25;
}

#view-controls {
    width: 78px;
    align-self: center;
}

/* #brand-bar { } */

#brand-heading {
    padding: 0px 0px 18px 16px;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
}

#brand-logo {
    margin: 0px 16px 0px 0px;
    width: 240;

    color: white;

    display: flex;
    flex-direction: column;
}

#memberNmDisplay {
    position: absolute;
    right: 18px;
    top: 10px;
    color: white;
}

.show-branding {
    display: flex;
    width: 100%;
    justify-content: center;
}

.hide-branding {
    display: none;
}


.hide-behind {
    z-index: -15 !important;
    opacity: 0.5;
}

.video-option-label {
    color: white;
    text-align: center;
    margin-top: 18px;
    font-size: 14px;
    /* font-size: 1.5vw; */
}

.view-control-grp {
    align-items: center !important;
}

.draw-crtl-btn {
    font-size: 1.5vw;
    width: auto !important;
}

.grd-btn {
    font-size: 1.5vw;
    width: auto !important;
}

.focus-btn-container {
    z-index: 3;
}

.member-info {
    position: absolute;
    z-index: 2;
    padding: 10px 20px;
    text-align: center;
    /* right: 0px; */
}

.no-display {
    display: none !important;
}

.member-name {
    color: white; 
}

.no-cursor {
    cursor: none;
}  

video.blurred {
    filter: blur(20px);
}

.toggle__dot {
  top: -.25rem;
  left: -.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

/* 
.gray-border {
    outline: 8px solid grey;
    outline-offset: -2px;
}

.white-border {
    outline: 4px solid white;
    outline-offset: -2px;
}

.green-border {
        outline: 4px solid green;
        outline-offset: -2px;
}

.yellow-border {
    outline: 4px solid yellow;
    outline-offset: -2px;
}

.red-border {
    outline: 4px solid red;
    outline-offset: -2px;
}

.blue-border {
    outline: 4px solid blue;
    outline-offset: -2px;
}

.pink-border {
    outline: 12px solid pink; 
}  */

video.blurred {
    filter: blur(20px);
}
