@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-pad {
    @apply py-2 px-4;
}

.btn {
    @apply text-center font-bold rounded;
}

.btn-green {
    @apply bg-green-600 text-white;
}

.btn-green:hover {
    @apply bg-green-500;
}

.btn-teal {
    @apply bg-teal-600 text-white;
}

.btn-teal:hover {
    @apply bg-teal-500;
}

.alert {
    @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-5;
}

.radio-btn-item {
    @apply flex justify-center items-center; 
}

.radio-btn-item .radio-btn {
    @apply hidden; 
}

.radio-btn-selected {
    @apply rounded bg-gray-500 text-white;
}
