html,
body {
    font-family: 'Amiko', serif;
    margin:0;
    padding:0;
    height:100%;
}

/* Phones */
@media only screen and (max-width: 480px) {
    .display-large {
        display: none;
    }

    .display-small {
        display: block;
    }
}

/* Desktop & Tablets */
@media only screen and (min-width: 481px) {
    .display-large {
        display: block;
    }

    .display-small {
        display: none;
    }
}
