html,
body {
    font-family: 'Amiko', serif;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

h3 {
    margin-bottom: 16px !important;
}

h5 {
    line-height: 26px !important;
}

h6 {
    line-height: 24px !important;
    padding: 12px;
}

/* Phones */
@media only screen and (max-width: 480px) {
    .display-large,
    footer {
        display: none;
    }

    .display-small {
        display: block;
    }
}

/* Phones */
@media only screen and (min-width: 481px) and (max-width: 575px) {
    .display-small {
        display: none;
    }

    h3 {
        color: white !important;
    }

    h5 {
        color: white !important;
    }

    h3, h5, h6 {
        color: white !important;
    }

    .form-inline {
        margin-bottom: 50px !important;
    }
    input {
        display: inline !important;
    }

    #new-student-form  {
        margin-top: 50px !important;
    }

    footer {
        background: #343a40;
        height: 45px;
        width: 100%;
        text-align: center;
    }
}

/* Desktop & Tablets */
@media only screen and (min-width: 576px) {
    .display-small {
        display: none;
    }

    footer {
        background: #343a40;
        height: 45px;
        width: 100%;
        text-align: center;
    }

}