@-webkit-keyframes borderBlink {
    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: blue;
    }
}

@keyframes borderBlink {
    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: blue;
    }
}

.borderBlink {
    border: 1px solid blue;

    /* add 'border-color: transparent' if you wish no border to show initially */
}

.borderBlink.selected {
    -webkit-animation: borderBlink 1s step-end infinite;
    animation: borderBlink 1s step-end infinite;
}